name: Run Robot API Tests with Allure Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Robot tests with Allure output
      env:
        GOREST_TOKEN: ${{ secrets.GOREST_TOKEN }}
      run: |
        robot --listener allure_robotframework:allure-results -d results tests/gorest

    - name: Upload Robot and Allure Results
      uses: actions/upload-artifact@v4
      with:
        name: robot-allure-results
        path: |
          results/
          allure-results/